
<div class="container-fluid p-4 w-50">

<form (ngSubmit)="signupUser()" class="d-flex flex-column gap-3">
    <h4>Signup new user</h4>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" type="email" class="form-control" [(ngModel)]="user.email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="fNAme">First name</label>
      <input name="firstName" type="text" class="form-control" id="fNAme" placeholder="first name" [(ngModel)]="user.firstName">
    </div>
    <div class="form-group">
      <label for="lName">First name</label>
      <input name="lastName" type="text" class="form-control" id="lName" placeholder="Last name"  [(ngModel)]="user.lastName">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>