div{
    display: flex;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    color: rgb(35, 35, 72);
    font-family: 'Courier New', Courier, monospace;
    max-width: 100vw;
}

ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
a{
    color: rgb(35, 35, 72);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;

}
.active{
    color: rgb(84, 84, 204);
    transform: scale(1.1);
}